@import "fonts.css";

/* MAIN */

:root {
  --text-color: #313131;
  --text-color-light: #31313199 ;
  --button-color: #1F1F1F;
  --button-hover: #FBCE51;
  --button-light-color: #FFFFFFE6;
  --accent-color: #F54932;
  --line-color: #D0D0D0;
  --secondary-color: #3057A2;
  --footer-bg: #E9DED4;
  font-size: 10px;
}

*, ::before, ::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  display: block;
  width: 100%;
  max-width: 1366px;
  padding: 0  72px;
  margin: 0 auto;

  @media screen and (max-width: 768px) {
    padding: 0 20px;
  }
}

body {
  background-color: #FFFFFF;
  color: var(--text-color);
}

/* BUTTONS */

.button {
  --border-color: var(--button-color);
  --bg-color: var(--button-color);
  --text-color: #FFFFFF;
  --hover-color: var(--button-hover);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px 47px;
  border-radius: 66px;
  border: 2px solid var(--border-color);
  background-color: var(--bg-color);
  text-decoration: none;

  .button__text {
    min-width: 165px;
    display: flex;
    flex-direction: column;
    text-align: center;
    color: var(--text-color);
    font-size: 1.6rem;
    font-family: GolosText;
    font-weight: 500;

    @media screen and (max-width: 1200px){
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: center;
      text-align: center;
      min-width: unset;
    }
  }

  @media screen and (max-width: 1200px){
    padding: 18px 41px;
  }
}

.button--secondary {
  --bg-color: transparent;
  --text-color: var(--button-color);
  --hover-color: var(--button-color);

  @media screen and (max-width: 768px){
    --bg-color: var(--button-light-color);
    --border-color: var(--button-light-color);
  }
}

.button:hover {
  --border-color: var(--hover-color);
  --bg-color: var(--hover-color);
  --text-color: var(--button-color);
}

.button--secondary:hover {
  --text-color: #FFFFFF;
}

button:focus,
button:focus-visible {
  outline: 4px auto var(--button-hover);
}

/* LOGO */

.logo-wrapper {
  display: block;
  width: 245px;
  height: 36px;

  svg {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }

  @media screen and (max-width: 576px) {
    width: 213px;
    height: 32px;
  }
}

/* Logo animation */

#logo .horse {
  animation: none;
}

#logo:hover .horse {
  animation: fadeIn 0.5s ease forwards;
}

#logo .horse:nth-of-type(2) {
  animation-delay: 100ms;
}
#logo .horse:nth-of-type(3) {
  animation-delay: 200ms;
}
#logo .horse:nth-of-type(4) {
  animation-delay: 300ms;
}

@keyframes fadeIn {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* SECTIONS */

.hero {
  width: 100%;
  min-height: 700px;
  background-image: url("../images/hero-bg.webp");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;


  @media screen and (max-width: 576px) {
    min-height: 812px;
    background-image: url("../images/hero-mobile-bg.webp");
    background-position: bottom;
  }
}

.hero__header {
  padding: 26px 0;

  @media screen and (max-width: 576px){
    padding: 18px 0;
  }
}

.hero__content {
  width: 100%;
  max-width: 542px;
  padding-top: 36px;

  @media screen and (max-width: 1200px){
    max-width: 335px;
  }
  @media screen and (max-width: 576px){
    max-width: 100%;
    padding-top: 22px;
  }
}

.hero__title {
  margin-bottom: 24px;
  font-family: Merriweather;
  font-weight: 400;
  font-size: 6rem;
  line-height: 1.1;
  text-transform: uppercase;
  color: var(--text-color);

  span:first-of-type {
    display: block;
    text-align: center;
  }
  span:nth-of-type(2) {
    display: block;
    text-align: right;
  }

  @media screen and (max-width: 1200px){
    font-size: 3.6rem;
  }
}

.hero__text {
  margin-bottom: 40px;
  font-family: GolosText;
  font-weight: 400;
  font-size: 1.8rem;
  text-align: center;

  @media screen and (max-width: 1200px){
    text-align: left;
  }
}

.hero__links {
  display: flex;
  justify-content: space-between;

  @media screen and (max-width: 1200px){
    flex-direction: column;
    row-gap: 14px;
  }
}

.support {
  margin-top: 80px;
  margin-bottom: 200px;

  @media screen and (max-width: 768px) {
    margin-bottom: 120px;
    margin-top: 48px;
  }
}

.support__header {
  display: flex;
  column-gap: 64px;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 64px;

  @media screen and (max-width: 768px) {
    flex-direction: column;
    row-gap: 24px;
  }
}

.section__title {
  font-family: Merriweather;
  font-weight: 400;
  font-size: 5.4rem;
  text-transform: uppercase;

  @media screen and (max-width: 1200px) {
    font-size: 3.6rem;
  }
}

.section__heading {
  font-family: Merriweather;
  font-weight: 400;
  font-size: 3.6rem;
  text-transform: uppercase;

  .section__h-accent {
    font-weight: 700;
    color: var(--accent-color);
  }

  @media screen and (max-width: 1200px) {
    font-size: 2.8rem;
  }
}

.section__heading--tearable {
  @media screen and (max-width: 768px) {
    display: contents;
  }
}

.section__heading--tearable span {
  @media screen and (max-width: 768px) {
    order: 5;
  }
}

.support__header-img-wrapper {
  width: clamp(300px, 35%, 394px);
  mask-image: radial-gradient(ellipse at center, black 70%, transparent 70%, transparent 100%);
  mask-repeat: no-repeat;
  mask-size: 100% 100%;
  flex-shrink: 0;
}

.support__img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.support__event {
  display: flex;
  column-gap: 44px;

  @media screen and (max-width: 768px) {
    flex-direction: column;
    row-gap: 24px;
  }
}

.support__event-img-wrapper {
  width: clamp(100px, 40%, 474px);
  flex-shrink: 0;

  .support__img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }

  @media screen and (max-width: 768px) {
    width: 100%;
  }
}

.support__event-content {
  display: flex;
  flex-direction: column;
}

.support__detail-list {
  display: flex;
  flex-direction: column;
  margin-top: 60px;
  margin-bottom: 48px;

  @media screen and (max-width: 768px) {
    margin-top: 44px;
    margin-bottom: 40px;
  }
}

.support__detail-item {
  display: grid;
  grid-template-columns: 1fr 1.31fr;
  border-bottom: 2px solid var(--line-color);
  font-family: GolosText;
  font-weight: 400;
  font-size: 2rem;
  color: var(--text-color);

  .support__detail-key {
    opacity: 70%;
    padding: 16px 16px 16px 0;

    @media screen and (max-width: 1200px) {
      padding: 0;
    }
  }

  .support__detail-value {
    font-weight: 700;
    padding: 16px 0 16px 16px;
    border-left: 2px solid var(--line-color);

    .old-price {
      text-decoration: line-through;
      text-decoration-color: var(--accent-color);
      padding-right: 14px;
    }

    @media screen and (max-width: 1200px) {
      padding: 0;
      border-left: none;
    }
  }

  @media screen and (max-width: 1200px) {
    display: flex;
    flex-wrap: wrap;
    column-gap: 12px;
    row-gap: 12px;
    padding: 16px 0;
  }

}

.support__detail-item:last-of-type {
  border-bottom: none;
}

.support__note {
  font-family: GolosText;
  font-weight: 400;
  font-size: 2rem;
  color: var(--secondary-color);
}

.steps {
  margin-bottom: 200px;

  @media screen and (max-width: 1200px){
    overflow: hidden;
  }

  @media screen and (max-width: 768px) {
    margin-bottom: 120px;
  }
}

.steps__subtitle {
  display: inline-block;
  font-family: GolosText;
  font-size: 2rem;
  max-width: 280px;
  text-transform: none;
  color: var(--secondary-color);

  @media screen and (max-width: 1200px) {
    font-size: 1.8rem;
  }
}

.steps__list {
  position: relative;
  background-color: transparent;
  margin-top: 54px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-column-gap: 20px;
  grid-row-gap: 20px;

  @media screen and (max-width: 1200px) {
    display: flex;
    width: fit-content;
    align-items: stretch;
    column-gap: 0;
    row-gap: 0;
    margin-top: 148px;

    .steps__list-block:nth-of-type(1),
    .steps__list-block:nth-of-type(2),
    .steps__list-block:nth-of-type(3),
    .steps__list-block:nth-of-type(4),
    .steps__list-block:nth-of-type(5) {
      grid-area: unset;
      display: flex;
      flex-direction: column;
      justify-content: start;
      background-image: url("../images/steps-bg.webp");
      padding: 62px 20px 34px;
    }
  }

}

.step {
  height: 100%;
  width: 100%;
  padding: 20px;
  display: flex;
  column-gap: 16px;
  background-image: url("../images/steps-bg.webp");
  background-size: auto;

  @media screen and (max-width: 1200px) {
    height: auto;
    background-image: unset;
    padding: 0;
  }
}

.step__text {
  display: block;
  font-family: GolosText;
  font-weight: 500;
  font-size: 2rem;
}

.step__count {
  display: flex;
  flex-shrink: 0;
  justify-content: center;
  align-items: center;
  width: 36px;
  height: 36px;
  background-color: white;
  border-radius: 50%;
  font-family: GolosText;
  font-weight: 600;
  font-size: 2rem;
}

.steps__list-block:nth-of-type(1) {
  grid-area: 1 / 1 / 2 / 3;
  .step {
    background-position: left top;
  }
}
.steps__list-block:nth-of-type(2) {
  grid-area: 1 / 3 / 3 / 4;
  .step {
    background-position: right top;
  }
}
.steps__list-block:nth-of-type(3) {
  grid-area: 2 / 1 / 3 / 3;
  .step {
    background-position: center;
  }
}
.steps__list-block:nth-of-type(4) {
  grid-area: 3 / 1 / 4 / 2;
  .step {
    background-position: left bottom;
  }
}
.steps__list-block:nth-of-type(5) {
  grid-area: 3 / 2 / 4 / 4;
  .step {
    background-position: right bottom;
  }
  .step__text {
    max-width: 57%;

    @media screen and (max-width: 1200px) {
      max-width: 100%;
    }
  }
}

.steps__img-wrap {
  display: grid;
  position: absolute;
  width: 31%;
  bottom: -3%;
  right: -5%;

  @media screen and (max-width: 1200px) {
    max-width: 335px;
    width: 100%;
    top: 3%;
    left: 50%;
    bottom: unset;
    transform: translateX(-50%);
  }
}

.steps__img {
  grid-area: 1/1;
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.steps__list-block--two-col {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 20px;

  @media screen and (max-width: 1200px) {
    grid-template-columns: 1fr;
    row-gap: 28px;
  }
}

.steps__pagination {
  display: flex;
  column-gap: 16px;
}

.participants {
  overflow: hidden;
  margin-bottom: 140px;

  @media screen and (max-width: 768px) {
    margin-bottom: 100px;
  }
}

.participants__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 60px;
}

.participants__list {
  display: flex;
  width: fit-content;
  align-items: stretch;
  column-gap: 0;
  row-gap: 0;
}

.participants__list-item {
  width: 100%;
}

.participants__pagination {
  position: absolute;
  right: 0;
  top: -140px;

  .pages {
    min-width: 40px;
  }

  @media screen and (max-width: 1200px) {
    top: -128px;
  }

  @media screen and (max-width: 768px) {
    position: static;
  }
}

.player {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.player__img-wrapper {
  width: 80%;
  aspect-ratio: 1;
  border-radius: 50%;
  margin: 0 auto;
  margin-bottom: 28px;

  @media screen and (max-width: 576px) {
    max-width: 244px;
  }
}

.player__img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.player__name {
  font-family: GolosText;
  font-weight: 500;
  font-size: 2.4rem;
}

.player__grade {
  margin-bottom: 20px;
  font-family: GolosText;
  font-weight: 400;
  font-size: 2rem;
  color: var(--text-color-light);
}

.player__link {
  max-height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 12px;
  font-family: GolosText;
  font-weight: 500;
  font-size: 1.6rem;
  line-height: 1;
  color: var(--secondary-color);
  border: 1px solid var(--secondary-color);
  text-decoration: none;
  border-radius: 62px;
}

.player__link:hover {
  background-color: var(--secondary-color);
  color: white;
}

.footer {
  display: flex;
  width: 100%;
  padding: 40px 0 72px;
  background-color: var(--footer-bg);

  @media screen and (max-width: 576px) {
    padding: 40px 0 60px;
  }
}

.footer__text {
  font-family: GolosText;
  font-size: 1.6rem;
  color: var(--text-color-light);
}

/* RUNNING LINE */

.running-line {
  background-color: var(--accent-color);
  overflow: hidden;
  padding: 18px 0;
  display: flex;
  width: fit-content;

  @media screen and (max-width: 576px) {
    padding: 10px 0;
  }
}

.running-line__wrapper {
  overflow: hidden;
}

.running-line__container {
  display: flex;
  animation: marquee 25s linear infinite;
}

.running-line__text {
  flex-shrink: 0;
  position: relative;
  padding: 0 15px;
  white-space: nowrap;
  color: white;
  font-family: Merriweather;
  font-weight: 400;
  font-size: 2.2rem;
  text-transform: uppercase;
}

.running-line__text:after {
  position: absolute;
  content: '';
  display: block;
  right: -3px;
  top: calc(50% - 3px);
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: white;
}

@keyframes marquee {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}

/* SLIDER */

.slider {
  display: flex;
  position: relative;
  flex-direction: column;
}

.pagination {
  display: flex;
  column-gap: 16px;
  align-items: center;
  margin: 28px auto 0;
}

.steps .pagination  {
  display: none;
  @media screen and (max-width: 1200px) {
    display: flex;
  }
}

.pagination__button {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 36px;
  height: 36px;
  border: none;
  border-radius: 50%;
  background-color: var(--button-color);
  color: white;
  cursor: pointer;
}

.pagination__button:disabled {
  opacity: 20%;
  cursor: initial;
}

.pagination__button:after {
  position: relative;
  display: block;
  content: ' ';
  width: 8px;
  height: 14px;
  background-image: url("data:image/svg+xml,%3Csvg width='10' height='18' viewBox='0 0 10 18' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M8.07664 15.923L1.15357 8.9999L8.07664 2.07682' stroke='white' stroke-width='1.63636' stroke-linecap='square'/%3E%3C/svg%3E");
  background-size: contain;
  background-repeat: no-repeat;
}

.pagination__button.next {
  transform: scale(-1);
}

.pages {
  display: flex;
  column-gap: 6px;
  font-family: GolosText;
  font-size: 16px;
  color: var(--text-color);
}

.pages-count {
  opacity: 60%;
}

.pagination__dot {
  width: 10px;
  height: 10px;
  border: none;
  border-radius: 50%;
  background-color: #D9D9D9;
}

.pagination__dot.active {
  background-color: var(--button-color);
}


#prop {
  animation: rotation 1s infinite linear;
  transform-origin: 15% 46%;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(1600deg);
  }
}

